
#style1 {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
}

ul {
    padding-right: 10%;
    padding-top: 5%;
}

li {
    list-style-type: none;
    margin: 0;
    margin-right: 2%;
    padding: 5px;
    display: inline;
    float: right;
    /* border: black 2px solid; */
    border-radius: 12px;
}

li a {
    text-decoration: none;
    font-size: 20px;
}
